<h1>about</h1>

 <%= form_with model: @pan_image do |f| %>
      <%= f.file_field :image, accept: "image/*", class: "w-100" %>
      <%= f.text_field :shop_name, class:"form-control", placeholder:"ショップ名" %>
      </div>
      <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"コメントここに" %>
      <hr>
      <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
  <% end %>