<h1>PanImage#index</h1>
<p>Find me in app/views/pan_image/index.html.erb</p>
<% @pan_images.each do |pan_image| %>
  <div>
    <%= link_to pan_image_path(pan_image.id) do %>
      <%= image_tag pan_image.get_image %>
    <% end %>
    
    <p>投稿ユーザー画像：<%= image_tag pan_image.user.get_profile_image(100,100) %></p>
    <p>ショップ名：<%= pan_image.shop_name %></p>
    <p>説明：<%= pan_image.caption %></p>
    <p>ユーザーネーム：<%= pan_image.user.name %></p>
  </div>
<% end %>